[submodule "project/ARIAC"]
	path = project/ARIAC
	url = git@github.com:glpuga/ARIAC.git
[submodule "external/roslint"]
	path = external/roslint
	url = git@github.com:ros/roslint.git
[submodule "external/BehaviorTree.CPP"]
	path = external/BehaviorTree.CPP
	url = git@github.com:glpuga/BehaviorTree.CPP.git
