<launch>
  <param name="/ariac/custom/gantry/robot_description" command="rosparam get -p /ariac/gantry/robot_description" />
  <param name="/ariac/custom/kitting/robot_description" command="rosparam get -p /ariac/kitting/robot_description" />
  <param name="/ariac/custom/gantry/robot_description_semantic" command="rosparam get -p /ariac/gantry/robot_description_semantic" />
  <param name="/ariac/custom/kitting/robot_description_semantic" command="rosparam get -p /ariac/kitting/robot_description_semantic" />

  <node name="the_italian_job_challenger" pkg="tijchallenger" type="tijchallenger_node" required="true" output="screen">
    <remap from="/ariac/custom/gantry/joint_states" to="/ariac/gantry/joint_states" />
    <remap from="/ariac/custom/kitting/joint_states" to="/ariac/kitting/joint_states" />
  </node>

  <group ns="/ariac/custom/gantry">
    <remap from="/ariac/custom/gantry/joint_states" to="/ariac/gantry/joint_states" />
    <include file="$(find custom_gantry_moveit_config)/launch/move_group.launch">
        <arg name="load_robot_description" value="False"/>
    </include>
  </group>

  <group ns="/ariac/custom/kitting">
    <remap from="/ariac/custom/kitting/joint_states" to="/ariac/kitting/joint_states" />
    <include file="$(find custom_kitting_moveit_config)/launch/move_group.launch">
        <arg name="load_robot_description" value="False"/>
    </include>
  </group>
</launch>


