<launch>
  <node name="the_italian_job_challenger" pkg="tijchallenger" type="tijchallenger_node" required="true" output="screen">
    <remap from="/ariac/custom/gantry/joint_states" to="/ariac/gantry/joint_states" />
    <remap from="/ariac/custom/kitting/joint_states" to="/ariac/kitting/joint_states" />
  </node>

  <group ns="ariac/custom/gantry">
    <remap from="/ariac/custom/gantry/joint_states" to="/ariac/gantry/joint_states" />
    <include file="$(find gantry_moveit_config)/launch/move_group.launch">
        <arg name="load_robot_description" value="True"/>
    </include>
  </group>

  <group ns="ariac/custom/kitting">
    <remap from="/ariac/custom/kitting/joint_states" to="/ariac/kitting/joint_states" />
    <include file="$(find kitting_moveit_config)/launch/move_group.launch">
        <arg name="load_robot_description" value="True"/>
    </include>
  </group>
</launch>
